body {
    background-color: white;
}

header {
    background-image: url(https://wallpaperaccess.com/full/497913.jpg);
    background-repeat: no-repeat;
}


.yellowbtn {
    background-color: yellow;

}

h1 {
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    text-align: center;
    color: darkolivegreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



h4 {
    color: red;
}

h5 {
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h6 {
    color: white;
    text-align: center;
}

p {
    color: darkolivegreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lightgreen {
    background-color: lightgreen;
}

.costamize {
    position: fixed;
    bottom: 320px;
    right: 0px;
}

.yellow-btn {background-color: gold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    position: sticky;
    border-radius: 3px;
    
}